{% extends "base.html" %}
{% load url from future %}

{%load  i18n  %}
{%block body%}


<div id="reservations" data-role="page" class="page" data-dom-cache="false">

<div data-role="header" data-position="fixed" data-theme="b">
	<h1>{%trans 'Reservations'%}</h1>
	<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
	<a href="/search/" data-icon="search" data-iconpos="notext" data-rel="dialog" data-transition="fade">Search</a>
</div>
<div data-role="content">
<ul data-role="listview" >
	<li data-role="list-divider">{%trans 'Other members requesting my services'%}</li>
	{%for r in other_res %}
	<li><a href='/reservations/appointment/{{r.pk}}/' >{{r.service.title}} : {{r.appointment_date|date:"d/m/Y"}}</a></li>
	{%endfor%}
	<li data-role="list-divider">{%trans 'My reservations of other member services'%}</li>
	{%for r in my_res %}
	<li><a href='/reservations/appointment/{{r.pk}}/' >{{r.service.title}} : {{r.appointment_date|date:"d/m/Y"}}</a></li>
	{%endfor%}
</ul>


</div><!-- /content -->			
{%include 'menu.html' %}
</div><!-- /page home-->
{%endblock body%}
